package Pages

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<link rel="icon" type="image/x-icon" href="assets/favicon/android-chrome-192x192.png"/>
			<meta charset="UTF-8"/>
		</head>
		<script>
			console.log("hello")
		</script>
		<body>
			<div style="padding: 20px;">
				{ children... }
			</div>
		</body>
	</html>
}
